.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: auto;
    max-width: 75rem;
    height: auto;
    padding: 1rem;
    border-radius: 1rem;
    background-color: #fff;
    box-shadow: 0 1px 1px 2px rgba(0,0,0,0.15);
    margin: 1rem;
    flex-wrap: wrap;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.container:hover {
    box-shadow: 0 4px 8px 2px rgba(0,0,0,0.2);
    transform: scale(1.02);
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}

.title {
  color: var(--id-red-color);
  font-family: var(--id-font-family);
  font-weight: 600;
  font-size: large;
  white-space: normal;
  word-wrap: break-word;
}

.item {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    background-color: var(--id-green-color);
    width: 10rem;
    height: 2.5rem;
    font-family: var(--id-font-family);
    font-weight: 400;
    font-size: 1.2rem;
    color: white;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
    transition: transform 0.2s ease-in-out;
    gap: 1rem;
}

.button:hover {
    background-color: var(--id-red-color);
    transform: scale(1.05);
}

.containerButtons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 0 1rem;
    padding: 1rem;
}

.containerText{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 1rem;
    align-items: start;
    flex: 1;
    min-width: 0;
    width: 100%;
}

.description,
.date {
  font-family: var(--id-font-family);
  font-weight: 400;
  font-size: 1rem;
  white-space: normal;
  word-wrap: break-word;
}

.date{
    color: var(--id-green-color);
}


@media (max-width: 700px){

    .button {
        width: auto;
        height: 2rem;
        font-size: 0.75rem;
        padding: 0.5rem;
    }

    .title{
        font-size: 1rem;
    }

    .description, .date{
        font-size: 0.8rem;
    }

    .containerButtons{
        margin: 0;
    }
}