.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    width: 30rem;
    height: auto;
    border-radius: 2rem;
    box-shadow: 0 0 9px rgba(0, 0, 0, 0.1);
    padding: 3rem;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.photoContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photo {
    border-radius: 3rem;
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    box-shadow: 0 0 9px rgba(159, 197, 77, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.Input{
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    height: 2.5rem;
    width: 15rem;
    padding: 0 1rem;
}

.buttonContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 1rem;
    width: 10rem;
    height: 3rem;
    gap: 0.5rem;
    padding: 1rem;
    background-color: var(--id-green-color);
    color: white;
    font-family: var(--id-font-family);
    font-weight: 600;
    cursor: pointer;
}

.button:hover{
    background-color: var(--id-red-color);
}

.editButtonContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 1rem;
}

.createdContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.upload{
    margin-top: 1rem;
}