.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.faqContainer{
    width: 80rem;
    margin: 0 1.5rem;
}

.title {
  margin: 1.5rem;
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 1rem;
  font-family: var(--id-font-family);
  color: var(--id-grey-color);
}

@media (max-width: 1000px){
  .title {
    font-size: 1.5rem;
    margin-bottom: 0.875rem;
  }
}

@media (max-width: 750px) {
  .title {
    font-size: 1.3rem;
    margin-bottom: 0.75rem;
    padding: 0 0.5rem;
  }
}

@media (max-width: 480px) {

  .title {
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
    padding: 0 0.25rem;
  }
}