.tooltipWrapper {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: end;
}

.tooltip {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: static;
    background-color: #7e7e7e;
    color: white;
    border-radius: 0.5rem;
    font-size: 1rem;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    pointer-events: none;
    height: 2rem;
    width: auto;
    padding: 0 1rem;
    text-align: center;
    white-space: nowrap;
}

.tooltipWrapper:hover .tooltip {
    opacity: 1;
    visibility: visible;
}