.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 69vh;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-family: var(--id-font-family);
    color: var(--id-red-color);
}

.text {
    font-family: var(--id-font-family);
    color: var(--id-grey-color);
    text-align: center;
}
